<h1 class="text-primary my-4">Detail tímu</h1>
<div class="card">
  <div class="card-body">
    <pre>{{ team | json }}</pre>
  </div>
</div>

<h3 class="text-primary mt-4">Podujatia</h3>
<div class="card">
  <div class="card-body">test</div>
</div>

<h3 class="text-primary mt-4 d-flex justify-content-between">
  Členovia

  <button class="btn btn-link" (click)="addTeammate = true">Pridať užívateľa</button>
</h3>
<div class="card mb-4" *ngIf="addTeammate">
  <div class="card-body">
    <form #ngForm="ngForm">
      <div class="form-group form-group-spaced">
        <label class="form-control-required" for="teammate.email">Email</label>
        <input type="email" class="form-control" id="teammate.email" name="teammate.email" [(ngModel)]="newMail" />
      </div>

      <div class="form-group form-group-spaced" *ngIf="error">
        <div class="alert alert-danger m-0">
          {{ error }}
        </div>
      </div>

      <div class="form-group form-group-spaced">
        <button class="btn btn-primary" type="button" (click)="add()">Pridať do tímu</button>
      </div>
    </form>
  </div>
</div>
<div class="card">
  <div class="card-body">test</div>
</div>
