<?xml version="1.0" encoding="UTF-8"?>
<document xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://modeler.netgrif.com/petriflow_schema.xsd">
	<id>final_system</id>
	<initials>NEW</initials>
	<title>final_system</title>
	<defaultRole>true</defaultRole>
	<transitionRole>false</transitionRole>
	<!-- TRANSACTIONS -->
	<!-- ROLES -->
	<!-- DATA -->
	<!-- I18NS -->
	<!-- TRANSITIONS -->
	<transition>
		<id>1</id>
		<x>740</x>
		<y>580</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>zobrazit profil</label>
	</transition>
	<transition>
		<id>2</id>
		<x>740</x>
		<y>460</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>moje podujatia</label>
	</transition>
	<transition>
		<id>3</id>
		<x>740</x>
		<y>300</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>moje timy</label>
	</transition>
	<transition>
		<id>4</id>
		<x>980</x>
		<y>460</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>domovska stranka</label>
		<assignPolicy>auto</assignPolicy>
		<finishPolicy>auto_no_data</finishPolicy>
		<trigger type="auto"/>
	</transition>
	<transition>
		<id>10</id>
		<x>887</x>
		<y>879</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>vytvorit podujatie</label>
	</transition>
	<transition>
		<id>11</id>
		<x>1300</x>
		<y>740</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>detail podujatia</label>
	</transition>
	<transition>
		<id>31</id>
		<x>740</x>
		<y>740</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>detail timu</label>
	</transition>
	<transition>
		<id>49</id>
		<x>980</x>
		<y>1260</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>spat na domovsku stranku</label>
		<trigger type="auto"/>
	</transition>
	<transition>
		<id>50</id>
		<x>500</x>
		<y>900</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>spat na domovsku stranku</label>
	</transition>
	<transition>
		<id>51</id>
		<x>1500</x>
		<y>900</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>spat na domovsku stranku</label>
	</transition>
	<transition>
		<id>58</id>
		<x>1064</x>
		<y>882</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>vytvorit tim</label>
	</transition>
	<!-- PLACES -->
	<place>
		<id>5</id>
		<x>980</x>
		<y>740</y>
		<label></label>
		<tokens>1</tokens>
		<static>false</static>
	</place>
	<place>
		<id>14</id>
		<x>980</x>
		<y>1140</y>
		<label></label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>16</id>
		<x>1300</x>
		<y>900</y>
		<label></label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>32</id>
		<x>980</x>
		<y>220</y>
		<label></label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>34</id>
		<x>700</x>
		<y>900</y>
		<label></label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<!-- ARCS -->
	<arc>
		<id>7</id>
		<type>read</type>
		<sourceId>5</sourceId>
		<destinationId>1</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>8</id>
		<type>read</type>
		<sourceId>5</sourceId>
		<destinationId>2</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>9</id>
		<type>read</type>
		<sourceId>5</sourceId>
		<destinationId>3</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>12</id>
		<type>regular</type>
		<sourceId>5</sourceId>
		<destinationId>10</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>13</id>
		<type>regular</type>
		<sourceId>5</sourceId>
		<destinationId>11</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>15</id>
		<type>regular</type>
		<sourceId>10</sourceId>
		<destinationId>14</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>17</id>
		<type>regular</type>
		<sourceId>11</sourceId>
		<destinationId>16</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>33</id>
		<type>regular</type>
		<sourceId>5</sourceId>
		<destinationId>31</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>41</id>
		<type>regular</type>
		<sourceId>31</sourceId>
		<destinationId>34</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>46</id>
		<type>regular</type>
		<sourceId>32</sourceId>
		<destinationId>4</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>48</id>
		<type>regular</type>
		<sourceId>4</sourceId>
		<destinationId>5</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>52</id>
		<type>regular</type>
		<sourceId>14</sourceId>
		<destinationId>49</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>53</id>
		<type>regular</type>
		<sourceId>50</sourceId>
		<destinationId>32</destinationId>
		<multiplicity>1</multiplicity>
		<breakPoint><x>500</x><y>220</y></breakPoint>
	</arc>
	<arc>
		<id>54</id>
		<type>regular</type>
		<sourceId>51</sourceId>
		<destinationId>32</destinationId>
		<multiplicity>1</multiplicity>
		<breakPoint><x>1500</x><y>220</y></breakPoint>
	</arc>
	<arc>
		<id>55</id>
		<type>regular</type>
		<sourceId>16</sourceId>
		<destinationId>51</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>56</id>
		<type>regular</type>
		<sourceId>49</sourceId>
		<destinationId>32</destinationId>
		<multiplicity>1</multiplicity>
		<breakPoint><x>1740</x><y>1260</y></breakPoint>
		<breakPoint><x>1740</x><y>220</y></breakPoint>
	</arc>
	<arc>
		<id>57</id>
		<type>regular</type>
		<sourceId>34</sourceId>
		<destinationId>50</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>59</id>
		<type>regular</type>
		<sourceId>5</sourceId>
		<destinationId>58</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>60</id>
		<type>regular</type>
		<sourceId>58</sourceId>
		<destinationId>14</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
</document>