<?xml version="1.0" encoding="UTF-8"?>
<document xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://modeler.netgrif.com/petriflow_schema.xsd">
	<id>new_model</id>
	<initials>NEW</initials>
	<title>New Model</title>
	<defaultRole>true</defaultRole>
	<transitionRole>false</transitionRole>
	<!-- TRANSACTIONS -->
	<!-- ROLES -->
	<!-- DATA -->
	<!-- I18NS -->
	<!-- TRANSITIONS -->
	<transition>
		<id>4</id>
		<x>900</x>
		<y>300</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>registracia / user</label>
	</transition>
	<transition>
		<id>5</id>
		<x>580</x>
		<y>300</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>prihlasenie / user</label>
	</transition>
	<transition>
		<id>26</id>
		<x>1300</x>
		<y>300</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>auto prihlasenie / system</label>
	</transition>
	<transition>
		<id>35</id>
		<x>740</x>
		<y>660</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Domovska stranka / user</label>
	</transition>
	<transition>
		<id>39</id>
		<x>300</x>
		<y>900</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Vyhladat podujatie / user</label>
	</transition>
	<transition>
		<id>40</id>
		<x>540</x>
		<y>900</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Zobrazit profil / loged user</label>
	</transition>
	<transition>
		<id>41</id>
		<x>740</x>
		<y>900</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>News feed / loged user</label>
	</transition>
	<transition>
		<id>42</id>
		<x>940</x>
		<y>900</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Vytvorit podujatie / usr</label>
	</transition>
	<transition>
		<id>43</id>
		<x>1100</x>
		<y>900</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Vlastne podujatia / usr</label>
	</transition>
	<transition>
		<id>51</id>
		<x>1100</x>
		<y>1140</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Spravovat podujatie / usr</label>
	</transition>
	<transition>
		<id>57</id>
		<x>300</x>
		<y>1140</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Prihlasenie na podujatie / loged user</label>
	</transition>
	<transition>
		<id>68</id>
		<x>940</x>
		<y>1140</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Vyplnit udaje / usr</label>
	</transition>
	<transition>
		<id>77</id>
		<x>1060</x>
		<y>1420</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Zrusit / usr</label>
	</transition>
	<transition>
		<id>78</id>
		<x>1180</x>
		<y>1420</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Editovat / usr</label>
	</transition>
	<transition>
		<id>81</id>
		<x>460</x>
		<y>1140</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Editovat udaje / usr</label>
	</transition>
	<transition>
		<id>82</id>
		<x>620</x>
		<y>1140</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Vymazat ucet / usr</label>
	</transition>
	<transition>
		<id>87</id>
		<x>620</x>
		<y>1420</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Kontrola, ci usr nema podujatia / sys</label>
	</transition>
	<transition>
		<id>93</id>
		<x>460</x>
		<y>1860</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Odhlasenie uzivatela z podujati / sys</label>
	</transition>
	<transition>
		<id>94</id>
		<x>620</x>
		<y>1700</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Zrusit podujatia / usr</label>
	</transition>
	<transition>
		<id>99</id>
		<x>820</x>
		<y>1700</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Priradit podujatiam ineho spravcu / usr</label>
	</transition>
	<transition>
		<id>112</id>
		<x>820</x>
		<y>1980</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Vyhladat a zvolit spravcu / usr</label>
	</transition>
	<transition>
		<id>118</id>
		<x>460</x>
		<y>2060</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Zrusit ucet / sys</label>
	</transition>
	<transition>
		<id>122</id>
		<x>140</x>
		<y>1140</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Prihlasenie timu / usr</label>
	</transition>
	<transition>
		<id>124</id>
		<x>1140</x>
		<y>700</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>odhlasit / loged user</label>
	</transition>
	<transition>
		<id>132</id>
		<x>740</x>
		<y>300</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>bez prihlasenia</label>
	</transition>
	<!-- PLACES -->
	<place>
		<id>3</id>
		<x>740</x>
		<y>100</y>
		<label></label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>25</id>
		<x>740</x>
		<y>500</y>
		<label></label>
		<tokens>1</tokens>
		<static>false</static>
	</place>
	<place>
		<id>37</id>
		<x>740</x>
		<y>780</y>
		<label></label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>50</id>
		<x>1100</x>
		<y>1020</y>
		<label></label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>58</id>
		<x>300</x>
		<y>1020</y>
		<label></label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>59</id>
		<x>300</x>
		<y>1260</y>
		<label></label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>64</id>
		<x>540</x>
		<y>1020</y>
		<label></label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>67</id>
		<x>940</x>
		<y>1020</y>
		<label></label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>73</id>
		<x>1060</x>
		<y>1300</y>
		<label></label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>74</id>
		<x>1180</x>
		<y>1300</y>
		<label></label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>85</id>
		<x>620</x>
		<y>1300</y>
		<label></label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>91</id>
		<x>460</x>
		<y>1700</y>
		<label>Nema</label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>92</id>
		<x>700</x>
		<y>1580</y>
		<label>Ma</label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>109</id>
		<x>460</x>
		<y>1980</y>
		<label>Odhlaseny</label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>111</id>
		<x>820</x>
		<y>1820</y>
		<label></label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>119</id>
		<x>460</x>
		<y>2220</y>
		<label>Ucet zruseny</label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>126</id>
		<x>140</x>
		<y>1260</y>
		<label></label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>128</id>
		<x>1060</x>
		<y>300</y>
		<label></label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>129</id>
		<x>1060</x>
		<y>300</y>
		<label></label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<!-- ARCS -->
	<arc>
		<id>6</id>
		<type>regular</type>
		<sourceId>3</sourceId>
		<destinationId>4</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>7</id>
		<type>regular</type>
		<sourceId>3</sourceId>
		<destinationId>5</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>28</id>
		<type>regular</type>
		<sourceId>26</sourceId>
		<destinationId>25</destinationId>
		<multiplicity>1</multiplicity>
		<breakPoint><x>1300</x><y>500</y></breakPoint>
	</arc>
	<arc>
		<id>29</id>
		<type>regular</type>
		<sourceId>5</sourceId>
		<destinationId>25</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>36</id>
		<type>regular</type>
		<sourceId>25</sourceId>
		<destinationId>35</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>38</id>
		<type>regular</type>
		<sourceId>35</sourceId>
		<destinationId>37</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>44</id>
		<type>regular</type>
		<sourceId>37</sourceId>
		<destinationId>39</destinationId>
		<multiplicity>1</multiplicity>
		<breakPoint><x>300</x><y>820</y></breakPoint>
	</arc>
	<arc>
		<id>45</id>
		<type>regular</type>
		<sourceId>37</sourceId>
		<destinationId>40</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>46</id>
		<type>regular</type>
		<sourceId>37</sourceId>
		<destinationId>41</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>47</id>
		<type>regular</type>
		<sourceId>37</sourceId>
		<destinationId>42</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>48</id>
		<type>regular</type>
		<sourceId>37</sourceId>
		<destinationId>43</destinationId>
		<multiplicity>1</multiplicity>
		<breakPoint><x>1100</x><y>860</y></breakPoint>
	</arc>
	<arc>
		<id>52</id>
		<type>regular</type>
		<sourceId>43</sourceId>
		<destinationId>50</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>53</id>
		<type>regular</type>
		<sourceId>50</sourceId>
		<destinationId>51</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>60</id>
		<type>regular</type>
		<sourceId>39</sourceId>
		<destinationId>58</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>61</id>
		<type>regular</type>
		<sourceId>58</sourceId>
		<destinationId>57</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>62</id>
		<type>regular</type>
		<sourceId>57</sourceId>
		<destinationId>59</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>65</id>
		<type>regular</type>
		<sourceId>40</sourceId>
		<destinationId>64</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>69</id>
		<type>regular</type>
		<sourceId>42</sourceId>
		<destinationId>67</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>70</id>
		<type>regular</type>
		<sourceId>67</sourceId>
		<destinationId>68</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>75</id>
		<type>regular</type>
		<sourceId>51</sourceId>
		<destinationId>73</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>76</id>
		<type>regular</type>
		<sourceId>51</sourceId>
		<destinationId>74</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>79</id>
		<type>regular</type>
		<sourceId>73</sourceId>
		<destinationId>77</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>80</id>
		<type>regular</type>
		<sourceId>74</sourceId>
		<destinationId>78</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>83</id>
		<type>regular</type>
		<sourceId>64</sourceId>
		<destinationId>81</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>84</id>
		<type>regular</type>
		<sourceId>64</sourceId>
		<destinationId>82</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>88</id>
		<type>regular</type>
		<sourceId>82</sourceId>
		<destinationId>85</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>90</id>
		<type>regular</type>
		<sourceId>85</sourceId>
		<destinationId>87</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>95</id>
		<type>regular</type>
		<sourceId>87</sourceId>
		<destinationId>91</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>96</id>
		<type>regular</type>
		<sourceId>87</sourceId>
		<destinationId>92</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>97</id>
		<type>regular</type>
		<sourceId>91</sourceId>
		<destinationId>93</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>98</id>
		<type>regular</type>
		<sourceId>92</sourceId>
		<destinationId>94</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>100</id>
		<type>regular</type>
		<sourceId>92</sourceId>
		<destinationId>99</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>110</id>
		<type>regular</type>
		<sourceId>93</sourceId>
		<destinationId>109</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>113</id>
		<type>regular</type>
		<sourceId>99</sourceId>
		<destinationId>111</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>114</id>
		<type>regular</type>
		<sourceId>111</sourceId>
		<destinationId>112</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>116</id>
		<type>regular</type>
		<sourceId>112</sourceId>
		<destinationId>91</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>117</id>
		<type>regular</type>
		<sourceId>94</sourceId>
		<destinationId>91</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>120</id>
		<type>regular</type>
		<sourceId>109</sourceId>
		<destinationId>118</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>121</id>
		<type>regular</type>
		<sourceId>118</sourceId>
		<destinationId>119</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>123</id>
		<type>regular</type>
		<sourceId>58</sourceId>
		<destinationId>122</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>127</id>
		<type>regular</type>
		<sourceId>122</sourceId>
		<destinationId>126</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>130</id>
		<type>regular</type>
		<sourceId>4</sourceId>
		<destinationId>129</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>131</id>
		<type>regular</type>
		<sourceId>129</sourceId>
		<destinationId>26</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>133</id>
		<type>regular</type>
		<sourceId>3</sourceId>
		<destinationId>132</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>134</id>
		<type>regular</type>
		<sourceId>132</sourceId>
		<destinationId>25</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>137</id>
		<type>regular</type>
		<sourceId>37</sourceId>
		<destinationId>124</destinationId>
		<multiplicity>1</multiplicity>
		<breakPoint><x>1139</x><y>792</y></breakPoint>
	</arc>
	<arc>
		<id>138</id>
		<type>regular</type>
		<sourceId>124</sourceId>
		<destinationId>3</destinationId>
		<multiplicity>1</multiplicity>
		<breakPoint><x>1140</x><y>100</y></breakPoint>
	</arc>
</document>
