<?xml version="1.0" encoding="UTF-8"?>
<document xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://modeler.netgrif.com/petriflow_schema.xsd">
	<id>new_model</id>
	<initials>NEW</initials>
	<title>New Model</title>
	<defaultRole>true</defaultRole>
	<transitionRole>false</transitionRole>
	<!-- TRANSACTIONS -->
	<!-- ROLES -->
	<!-- DATA -->
	<data type="enumeration">
		<id>enumeration_0</id>
		<title>Zvol tim</title>
		<placeholder>placeholder</placeholder>
		<desc>description</desc>
		<init>option1</init>
	</data>
	<data type="taskRef">
		<id>taskRef_0</id>
		<title>osoba</title>
		<placeholder>placeholder</placeholder>
		<desc>description</desc>
		<init>value</init>
	</data>
	<data type="taskRef">
		<id>taskRef_1</id>
		<title>osoba_vis</title>
		<placeholder>placeholder</placeholder>
		<desc>description</desc>
		<init>value</init>
	</data>
	<data type="text">
		<id>text_3</id>
		<title>Meno</title>
		<placeholder>placeholder</placeholder>
		<desc>description</desc>
		<init>value</init>
	</data>
	<data type="text">
		<id>text_4</id>
		<title>Priezvisko</title>
		<placeholder>placeholder</placeholder>
		<desc>description</desc>
		<init>value</init>
	</data>
	<data type="text">
		<id>text_5</id>
		<title>Prezývka</title>
		<placeholder>placeholder</placeholder>
		<desc>description</desc>
		<init>value</init>
	</data>
	<data type="date">
		<id>date_1</id>
		<title>datum narodenia</title>
		<placeholder>placeholder</placeholder>
		<desc>description</desc>
	</data>
	<!-- I18NS -->
	<!-- TRANSITIONS -->
	<transition>
		<id>35</id>
		<x>740</x>
		<y>660</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Domovska stranka / user</label>
	</transition>
	<transition>
		<id>39</id>
		<x>300</x>
		<y>900</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Vyhladat podujatie / user</label>
	</transition>
	<transition>
		<id>42</id>
		<x>860</x>
		<y>900</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Vytvorit podujatie / usr</label>
	</transition>
	<transition>
		<id>43</id>
		<x>1180</x>
		<y>900</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Vlastne podujatia / usr</label>
	</transition>
	<transition>
		<id>51</id>
		<x>1180</x>
		<y>1140</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Spravovat podujatie / usr</label>
	</transition>
	<transition>
		<id>57</id>
		<x>380</x>
		<y>1140</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Prihlasenie na podujatie</label>
	</transition>
	<transition>
		<id>68</id>
		<x>860</x>
		<y>1140</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Vyplnit udaje / usr</label>
	</transition>
	<transition>
		<id>77</id>
		<x>1060</x>
		<y>1420</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Zrusit / usr</label>
	</transition>
	<transition>
		<id>78</id>
		<x>1300</x>
		<y>1420</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Editovat / usr</label>
	</transition>
	<transition>
		<id>81</id>
		<x>747</x>
		<y>1075</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Editovat udaje / usr</label>
		<dataGroup>
			<id>DataGroup_0</id>
			<layout>grid</layout>
			<dataRef>
				<id>taskRef_0</id>
				<logic>
					<behavior>editable</behavior>
				</logic>
				<layout>
					<x>0</x>
					<y>2</y>
					<rows>1</rows>
					<cols>1</cols>
					<offset>0</offset>
					<template>material</template>
					<appearance>outline</appearance>
				</layout>
			</dataRef>
			<dataRef>
				<id>text_4</id>
				<logic>
					<behavior>editable</behavior>
				</logic>
				<layout>
					<x>2</x>
					<y>0</y>
					<rows>1</rows>
					<cols>2</cols>
					<offset>0</offset>
					<template>material</template>
					<appearance>outline</appearance>
				</layout>
			</dataRef>
			<dataRef>
				<id>date_1</id>
				<logic>
					<behavior>editable</behavior>
				</logic>
				<layout>
					<x>2</x>
					<y>1</y>
					<rows>1</rows>
					<cols>2</cols>
					<offset>0</offset>
					<template>material</template>
					<appearance>outline</appearance>
				</layout>
			</dataRef>
			<dataRef>
				<id>text_3</id>
				<logic>
					<behavior>editable</behavior>
				</logic>
				<layout>
					<x>0</x>
					<y>0</y>
					<rows>1</rows>
					<cols>2</cols>
					<offset>0</offset>
					<template>material</template>
					<appearance>outline</appearance>
				</layout>
			</dataRef>
			<dataRef>
				<id>text_5</id>
				<logic>
					<behavior>editable</behavior>
				</logic>
				<layout>
					<x>0</x>
					<y>1</y>
					<rows>1</rows>
					<cols>2</cols>
					<offset>0</offset>
					<template>material</template>
					<appearance>outline</appearance>
				</layout>
			</dataRef>
		</dataGroup>
	</transition>
	<transition>
		<id>82</id>
		<x>618</x>
		<y>1204</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Vymazat ucet / usr</label>
	</transition>
	<transition>
		<id>87</id>
		<x>620</x>
		<y>1420</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Kontrola, ci usr nema podujatia / sys</label>
	</transition>
	<transition>
		<id>93</id>
		<x>460</x>
		<y>1860</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Odhlasenie uzivatela z podujati / sys</label>
	</transition>
	<transition>
		<id>94</id>
		<x>740</x>
		<y>1700</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Zrusit podujatia / usr</label>
	</transition>
	<transition>
		<id>118</id>
		<x>460</x>
		<y>2060</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Zrusit ucet / sys</label>
	</transition>
	<transition>
		<id>122</id>
		<x>180</x>
		<y>1140</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Prihlasenie timu</label>
		<dataGroup>
			<id>DataGroup_0</id>
			<dataRef>
				<id>enumeration_0</id>
				<logic>
					<behavior>editable</behavior>
				</logic>
				<layout>
					<x>0</x>
					<y>0</y>
					<rows>1</rows>
					<cols>2</cols>
					<offset>0</offset>
					<template>material</template>
					<appearance>outline</appearance>
				</layout>
			</dataRef>
		</dataGroup>
	</transition>
	<transition>
		<id>130</id>
		<x>1476</x>
		<y>872</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Vytvorit tim</label>
	</transition>
	<transition>
		<id>132</id>
		<x>616</x>
		<y>901</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Osobne udaje</label>
		<dataGroup>
			<id>DataGroup_0</id>
			<layout>grid</layout>
			<dataRef>
				<id>taskRef_0</id>
				<logic>
					<behavior>editable</behavior>
				</logic>
				<layout>
					<x>0</x>
					<y>0</y>
					<rows>1</rows>
					<cols>1</cols>
					<offset>0</offset>
					<template>material</template>
					<appearance>outline</appearance>
				</layout>
			</dataRef>
		</dataGroup>
		<event type="finish">
			<id>132_finish</id>
			<actions phase="pre">
				<action id="1">osoba_ref_visible: f.taskRef_1,
osoba_ref: f.taskRef_0;

					def konstruktor = findTask(osoba_ref.value[0])
                    finishTask(konstruktor)

					def edit_task = findTask({ it.caseId.eq(konstruktor.caseId).and(it.transitionId.eq("8"))})
					change osoba_ref value {
						[edit_task.stringId]
					}
					def view_task = findTask({ it.caseId.eq(konstruktor.caseId).and(it.transitionId.eq("4"))})
					change osoba_ref_visible value {
						[view_task.stringId]
					}</action>
			</actions>
		</event>
	</transition>
	<transition>
		<id>135</id>
		<x>485</x>
		<y>1072</y>
		<layout>
			<offset>0</offset>
		</layout>
		<label>Zobrazit udaje / usr</label>
		<dataGroup>
			<id>DataGroup_0</id>
			<layout>grid</layout>
			<dataRef>
				<id>taskRef_1</id>
				<logic>
					<behavior>editable</behavior>
				</logic>
				<layout>
					<x>0</x>
					<y>2</y>
					<rows>1</rows>
					<cols>1</cols>
					<offset>0</offset>
					<template>material</template>
					<appearance>outline</appearance>
				</layout>
			</dataRef>
			<dataRef>
				<id>text_3</id>
				<logic>
					<behavior>visible</behavior>
				</logic>
				<layout>
					<x>0</x>
					<y>0</y>
					<rows>1</rows>
					<cols>2</cols>
					<offset>0</offset>
					<template>material</template>
					<appearance>outline</appearance>
				</layout>
			</dataRef>
			<dataRef>
				<id>text_4</id>
				<logic>
					<behavior>visible</behavior>
				</logic>
				<layout>
					<x>2</x>
					<y>0</y>
					<rows>1</rows>
					<cols>2</cols>
					<offset>0</offset>
					<template>material</template>
					<appearance>outline</appearance>
				</layout>
			</dataRef>
			<dataRef>
				<id>text_5</id>
				<logic>
					<behavior>visible</behavior>
				</logic>
				<layout>
					<x>0</x>
					<y>1</y>
					<rows>1</rows>
					<cols>2</cols>
					<offset>0</offset>
					<template>material</template>
					<appearance>outline</appearance>
				</layout>
			</dataRef>
			<dataRef>
				<id>date_1</id>
				<logic>
					<behavior>visible</behavior>
				</logic>
				<layout>
					<x>2</x>
					<y>1</y>
					<rows>1</rows>
					<cols>2</cols>
					<offset>0</offset>
					<template>material</template>
					<appearance>outline</appearance>
				</layout>
			</dataRef>
		</dataGroup>
	</transition>
	<!-- PLACES -->
	<place>
		<id>25</id>
		<x>740</x>
		<y>500</y>
		<label></label>
		<tokens>1</tokens>
		<static>false</static>
	</place>
	<place>
		<id>37</id>
		<x>740</x>
		<y>780</y>
		<label></label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>50</id>
		<x>1180</x>
		<y>1020</y>
		<label></label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>58</id>
		<x>300</x>
		<y>1020</y>
		<label></label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>59</id>
		<x>380</x>
		<y>1260</y>
		<label></label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>64</id>
		<x>599</x>
		<y>1075</y>
		<label></label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>67</id>
		<x>860</x>
		<y>1020</y>
		<label></label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>73</id>
		<x>1060</x>
		<y>1300</y>
		<label></label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>74</id>
		<x>1300</x>
		<y>1300</y>
		<label></label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>85</id>
		<x>620</x>
		<y>1314</y>
		<label></label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>91</id>
		<x>460</x>
		<y>1700</y>
		<label>Nema</label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>92</id>
		<x>660</x>
		<y>1580</y>
		<label>Ma</label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>109</id>
		<x>460</x>
		<y>1980</y>
		<label>Odhlaseny</label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>119</id>
		<x>460</x>
		<y>2220</y>
		<label>Ucet zruseny</label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>126</id>
		<x>180</x>
		<y>1260</y>
		<label></label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<place>
		<id>137</id>
		<x>653</x>
		<y>1075</y>
		<label></label>
		<tokens>0</tokens>
		<static>false</static>
	</place>
	<!-- ARCS -->
	<arc>
		<id>36</id>
		<type>regular</type>
		<sourceId>25</sourceId>
		<destinationId>35</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>38</id>
		<type>regular</type>
		<sourceId>35</sourceId>
		<destinationId>37</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>44</id>
		<type>regular</type>
		<sourceId>37</sourceId>
		<destinationId>39</destinationId>
		<multiplicity>1</multiplicity>
		<breakPoint><x>300</x><y>820</y></breakPoint>
	</arc>
	<arc>
		<id>47</id>
		<type>regular</type>
		<sourceId>37</sourceId>
		<destinationId>42</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>48</id>
		<type>regular</type>
		<sourceId>37</sourceId>
		<destinationId>43</destinationId>
		<multiplicity>1</multiplicity>
		<breakPoint><x>1180</x><y>820</y></breakPoint>
	</arc>
	<arc>
		<id>52</id>
		<type>regular</type>
		<sourceId>43</sourceId>
		<destinationId>50</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>53</id>
		<type>regular</type>
		<sourceId>50</sourceId>
		<destinationId>51</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>60</id>
		<type>regular</type>
		<sourceId>39</sourceId>
		<destinationId>58</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>61</id>
		<type>regular</type>
		<sourceId>58</sourceId>
		<destinationId>57</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>62</id>
		<type>regular</type>
		<sourceId>57</sourceId>
		<destinationId>59</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>69</id>
		<type>regular</type>
		<sourceId>42</sourceId>
		<destinationId>67</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>70</id>
		<type>regular</type>
		<sourceId>67</sourceId>
		<destinationId>68</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>75</id>
		<type>regular</type>
		<sourceId>51</sourceId>
		<destinationId>73</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>76</id>
		<type>regular</type>
		<sourceId>51</sourceId>
		<destinationId>74</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>79</id>
		<type>regular</type>
		<sourceId>73</sourceId>
		<destinationId>77</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>80</id>
		<type>regular</type>
		<sourceId>74</sourceId>
		<destinationId>78</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>84</id>
		<type>regular</type>
		<sourceId>64</sourceId>
		<destinationId>82</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>88</id>
		<type>regular</type>
		<sourceId>82</sourceId>
		<destinationId>85</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>90</id>
		<type>regular</type>
		<sourceId>85</sourceId>
		<destinationId>87</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>95</id>
		<type>regular</type>
		<sourceId>87</sourceId>
		<destinationId>91</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>96</id>
		<type>regular</type>
		<sourceId>87</sourceId>
		<destinationId>92</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>97</id>
		<type>regular</type>
		<sourceId>91</sourceId>
		<destinationId>93</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>98</id>
		<type>regular</type>
		<sourceId>92</sourceId>
		<destinationId>94</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>110</id>
		<type>regular</type>
		<sourceId>93</sourceId>
		<destinationId>109</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>117</id>
		<type>regular</type>
		<sourceId>94</sourceId>
		<destinationId>91</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>120</id>
		<type>regular</type>
		<sourceId>109</sourceId>
		<destinationId>118</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>121</id>
		<type>regular</type>
		<sourceId>118</sourceId>
		<destinationId>119</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>123</id>
		<type>regular</type>
		<sourceId>58</sourceId>
		<destinationId>122</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>127</id>
		<type>regular</type>
		<sourceId>122</sourceId>
		<destinationId>126</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>131</id>
		<type>regular</type>
		<sourceId>37</sourceId>
		<destinationId>130</destinationId>
		<multiplicity>1</multiplicity>
		<breakPoint><x>1479</x><y>812</y></breakPoint>
	</arc>
	<arc>
		<id>133</id>
		<type>regular</type>
		<sourceId>37</sourceId>
		<destinationId>132</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>134</id>
		<type>regular</type>
		<sourceId>132</sourceId>
		<destinationId>64</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>138</id>
		<type>regular</type>
		<sourceId>132</sourceId>
		<destinationId>137</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>140</id>
		<type>regular</type>
		<sourceId>137</sourceId>
		<destinationId>82</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>142</id>
		<type>regular</type>
		<sourceId>137</sourceId>
		<destinationId>81</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>143</id>
		<type>regular</type>
		<sourceId>81</sourceId>
		<destinationId>137</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
	<arc>
		<id>144</id>
		<type>read</type>
		<sourceId>64</sourceId>
		<destinationId>135</destinationId>
		<multiplicity>1</multiplicity>
	</arc>
</document>
