<h1 class="text-primary d-flex justify-content-between my-4">
  Prehľad nadchádzajúcich podujatí
  <i class="fas fa-spin fa-spinner" *ngIf="isLoading"></i>
</h1>

<div class="alert alert-warning" *ngIf="!isLoading && !activeEvents?.length">
  Momentálne neexistujú žiadne nadchádzajúce podujatia.
</div>

<div class="card" *ngIf="activeEvents?.length">
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table table-bordered table-border-none mb-0">
        <thead>
          <tr>
            <th width="1"></th>
            <th>Názov podujatia</th>
            <th>Typ podujatia</th>
            <th>Registrácia</th>
            <th>Začiatok</th>
            <th>Koniec</th>
            <th>Vytvoril</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of activeEvents">
            <td *ngIf="!auth.isLogged()">
              <a routerLink="/event/detail/{{ e.id }}" aria-label="Detail podujatia"
                ><i class="fas fa-search text-primary"></i
              ></a>
            </td>
            <td *ngIf="auth.isLogged()">
              <i class="fas fa-search text-muted" *ngIf="!auth.canDoAction('detailPodujatia')"></i>
              <a routerLink="/event/detail/{{ e.id }}" *ngIf="auth.canDoAction('detailPodujatia')"
                ><i class="fas fa-search text-primary"></i
              ></a>
            </td>
            <td class="text-nowrap">{{ e.name }}</td>
            <td class="text-nowrap">{{ e.type?.label || '-' }}</td>
            <td class="text-nowrap">{{ e.registration_start | date }} - {{ e.registration_end | date }}</td>
            <td class="text-nowrap">{{ e.event_start | date: 'short' }}</td>
            <td class="text-nowrap">{{ e.event_end | date: 'short' }}</td>
            <td class="text-nowrap text-capitalize">{{ e.owner?.firstname }} {{ e.owner.surname }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="bottom-spacer mt-4">&nbsp;</div>
