<h1 class="text-primary">Prehľad nadchádzajúcich podujatí</h1>

<table class="table table-bordered" *ngIf="activeEvents?.length">
  <thead>
    <tr>
      <th width="1"></th>
      <th>Názov podujatia</th>
      <th>Registrácia</th>
      <th>Začiatok</th>
      <th>Koniec</th>
      <th>Vytvoril</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of activeEvents">
      <td>
        <a routerLink="/event/detail/{{ e.id }}"><i class="fas fa-search text-primary"></i></a>
      </td>
      <td>{{ e.name }}</td>
      <td>{{ e.registration_start | date }} - {{ e.registration_end | date }}</td>
      <td>{{ e.event_start | date }}</td>
      <td>{{ e.event_end | date }}</td>
      <td class="text-capitalize">{{ e.owner?.firstname }} {{ e.owner.surname }}</td>
    </tr>
  </tbody>
</table>
