@import "variables";
@import "style-components/date-picker";
@import "style-components/table";

html, body {
  height: 100%;
  min-height: 100vh;
}

.btn + [role=button]:not(.dropdown-item),
[role=button] + .btn:not(.dropdown-item),
.btn + .btn:not(.dropdown-item) {
  margin-left: 5px;
}

.btn.btn-primary,
.btn.btn-outline-primary:hover {
  color: white;
}

.c-separator {
  border-bottom: 2px solid $primary;
}

.flex-baseline {
  display: flex;
  align-items: baseline;
}

.link-primary {
  color: $primary;
  cursor: pointer;
}

.nav-link {
  cursor: pointer
}

.borderless td, .borderless th {
  border: none;
}

.card {
  .card-body {
    padding: 1.5rem;
  }
}

.h-cursor-pointer {
  cursor: pointer;
}

label {
  font-weight: bold;
}

.form-control-required::after {
    content: '*';
    color: $danger;
    font-size: 80%;
}

.form-group-spaced + .form-group-spaced {
  margin-top: 0.5em;
}
