@import "variables";
@import "style-components/date-picker";
@import "style-components/table";
@import "style-components/ng-select";

html, body {
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.btn + [role=button]:not(.dropdown-item),
[role=button] + .btn:not(.dropdown-item),
.btn + .btn:not(.dropdown-item) {
  margin-left: 5px;
}

.btn.btn-primary,
.btn.btn-outline-primary:hover {
  color: white;
}

.c-separator {
  border-bottom: 2px solid $primary;
}

.flex-baseline {
  display: flex;
  align-items: baseline;
}

.link-primary {
  color: $primary;
  cursor: pointer;
}

.nav-link {
  cursor: pointer
}

.borderless td, .borderless th {
  border: none;
}

.card {
  .card-body {
    padding: 1.5rem;
  }
}

.h-cursor-pointer {
  cursor: pointer;
}

label {
  font-weight: bold;
}

.form-control-required::after {
  content: '*';
  color: $danger;
  font-size: 80%;
}

.form-group-spaced + .form-group-spaced {
  margin-top: 0.5em;
}


input.ng-invalid.ng-touched {
  border-color: $danger;

  &:focus {
    box-shadow: 0 0 0 0.25rem rgba($danger, 25%);

  }
}

.card {
  box-shadow: 2px 2px 5px 0 rgba($secondary, 10%);
}

.cover {
  opacity: 0.4;
  z-index: -1;
  position: fixed;
  height: 45vh;
  transition: all 1s ease-in-out;

  &.event {
    bottom: 0;
    right: 0;

    &.disabled {
      bottom: -1000px;
      right: -1000px;
    }
  }

  &.team {
    bottom: 0;
    left: 0;


    &.disabled {
      bottom: 0;
      left: -1000px;
    }
  }

  &.dashboard {
    top: 100px;
    left: 0;

    transform-origin: top left;
    transition: transform 1s ease-in-out;
    transform: matrix3d(
        1, 0, 0, 0,
        0, 1, 0, 0,
        0, 0, 1, 0,
        0, 0, 0, 1
    );

    &.active {
      transition: transform 4s ease-in-out;
    }

    &.disabled {
      transition: transform 1s ease-in-out;
      transform: matrix3d(
          1, 0, 0, 0,
          0, 1, 0, 0,
          0, 0, 1, 0,
          0, -1000, 0, 1
      );
    }
  }
}

.swing {
  transform: matrix3d(1.068, 0, 0, -0.000031189, -0.066826, 1.14999, 0, 0.000268, 0, 0, 1, 0, 0, 0, 0, 1) !important;
}


@media all and (max-width: 1024px) {
  .cover {
    opacity: 0;
  }
}
